

* {
    box-sizing: border-box;
}

.root {
    font-family: 'Roboto';
}


.topContainer {
    width: 100%;
    height: 67px;
    background: #C3CFD9;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topTitle {
    font-weight: 400;
    font-size: 34px;
    color: #E8833A;
}






.pageContainer {
    margin-top: 67px;
    margin-bottom: 117px;
    display: flex;
    flex-direction: column;
}

.pageTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    font-weight: 400;
    font-size: 24px;
    color: #293845;
}





.filmsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 20px 30px;
    justify-content: space-between;
}

.filmPoster {
    width: 145px;
    height: 209px;
    padding: 8px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 10px;
}

.filmPoster > img {
    width: 129px;
    height: 193px;
}






.dayContainer {
    padding: 0 20px;
    margin-bottom: 25px;
}

.dayContainer > span {
    font-weight: 400;
    font-size: 20px;
    color: #293845;
}

.sessionTimesContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.sessionTime {
    width: 83px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 10px;
}




.footer {
    height: 117px;
    width: 100% ;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    background-color: #DFE6ED;
    border-top: 1px solid #9EADBA;
    position: fixed;
    bottom: 0;
    left: 0;
}

.filmPosterFooter {
    width: 64px;
    height: 89px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 6px;
}

.filmPosterFooter > img {
    width: 52px;
    height: 76px;
}

.footer  span {
    font-weight: 400;
    font-size: 22px;
    color: #293845;
    margin-left: 15px;
}

.infosContainer {
    display: flex;
    flex-direction: column;
}




.seatsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 360px;
}

.seatsMap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.seatButton {
    width: 26px;
    height: 26px;
    background: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 50%;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 8px;
}

.seatButton:hover {
    cursor: pointer;
}


.exampleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exampleContainer > .seatButton {
    margin: 0 0 5px 0;
}

.exampleContainer > span {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    color: #4E5A65;
}


.seatsExamples {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.seatSelected {
    background: #8DD7CF;
    border: 1px solid #1AAE9E
}

.seatAvailable {
    background: #C3CFD9;
    border: 1px solid #7B8B99
}

.seatNotAvailable {
    background: #FBE192;
    border: 1px solid #F7C52B; 
}





form {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

form > label {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #293845;
    margin-bottom: 5px;
}

form > input {
    width: 327px;
    height: 51px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    margin-bottom: 10px;
}

form > button {
    width: 225px;
    height: 42px;
    background: #E8833A;
    border: 0px;
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin: 10px auto;
}

form > button:hover{
    cursor: pointer;
}


.successfullContainer{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.successfullTitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    color: #247A6B;
    width: 150px;
    text-align: center;
}


.infoContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.infoTitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    color: #293845;
    margin-bottom: 10px;
}

.info {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;
    color: #293845;
    margin-bottom: 5px;
}

.successButton {
    width: 225px;
    height: 42px;
    background: #E8833A;
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    border: 0px;
    margin: 20px auto;
}

.successButton:hover {
    cursor: pointer;
}


::-webkit-input-placeholder { /* Edge */
    padding-left: 10px;
    font-style: italic;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 10px;
    font-style: italic;
  }
  
  ::placeholder {
    padding-left: 10px;
    font-style: italic;
  }